/* Add CSS Styling */

.p135 {
    background-color: rgb(255, 182, 193);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#div2 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.p3 {
    font-size: 24px;
}

#div4 {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-style: bold;
}